* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Left Panel */
  .left-panel {
    flex: 1;
    background-color: #fff;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  
  .left-panel .illustration {
    max-width: 400px;
    height: 400px;
    /* margin-bottom: 10px; */
  }
  .left-panel h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .left-panel h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .left-panel p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  }
  
  /* Right Panel */
  .right-panel {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #1c0144;
     padding: 130px 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    height: 80%;
    color: #fff;
    text-align: center;
  }
  
  .login-box h2 {
   
    margin-bottom: 50px;
  }
  
  .login-box input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #dcdcdc;
  }
  
  .login-box .forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-bottom: 20px;
    color: #ddd;
    text-decoration: none;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #e6f218;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-box button:hover {
    background-color: #fffffb;
  }
  
  .signup {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
  }
  
  .signup a {
    color: #fff;
    text-decoration: none;
  }
  