* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Left Panel */
  .left-panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-panel .illustration {
    max-width: 500px;
    height: 500px;
  }
  
  /* Right Panel */
  .right-panel {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    background-color: #1c0144;
    padding: 40px 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    height: 80%;
    color: #fff;
    text-align: center;
  }
  
  .form-box h2 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  .form-box input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #dcdcdc;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  /* Buttons */
  .button-group {
    display: flex;
    justify-content: space-between;
  }

  .button-group a{
    width: 48%;
  }
  
  .cancel-btn, .send-btn {
    width: 48%;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  
  .cancel-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .cancel-btn:hover {
    background-color: #fbfbfb;
    color: black;
  }
  
  .send-btn {
    background-color: #e6f218;
    color: #000;
  }
  
  .send-btn:hover {
    background-color: #ffffff;
  }
  